/* This file is an example. Delete it at will. */

@import "./classless.css";

@view-transition {
  navigation: auto;
}

table {
  width: 100%;
}

.wrap {
  flex-wrap: wrap;
}

.active {
  font-weight: bold;
}
