/* This file is an example. Delete it at will. */

:root {
  --color-primary: #7c2da4;
  --color-text: #445566;
  --color-shadow: #e0e0e0;
  --color-background: #ffffff;
  --box-shadow: 0 0.275rem 0.75rem -0.0625rem var(--color-shadow),
    0 0.125rem 0.4rem -0.0625rem var(--color-shadow);
  --gradient: radial-gradient(circle, var(--color-primary) 75%, white 100%);
}
